

#shop {
  margin-left: 100px;
}

#Gallery {
  margin-left: 20px;
}

#mediaBackground {
  background: black;
  outline: none;
  width: 100%;
  height: 500px;
}

.no-outline {
  outline: none;
}

.product-links {
  color: black;
}

.product-links:hover {
  color: darkgrey;
  text-decoration: none;
}

.nav-link {
  margin-right: 2.1rem;
  color: black;
}

.nav-link:hover {
  color: darkgrey;
}

#navbarr {
  z-index: 999;
}

.images {
  height: 20px;
  width: 20px;
  background: transparent;
}

.img-div {
  height: 100%;
  width: 300px;
  overflow: hidden;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid black !important;
  outline: black;
}

.btn-black:hover {
  background: black !important;
  color: white !important;
}

.count-text {
  background: transparent;
  font-size: 1rem !important;
  color: black;
  font-weight: bold;
  padding-top: 0.3rem;
}

.btn-remove {
  background: red !important;
  color: white !important;
  font-size: 0.8rem !important;
  border-radius: 1rem !important;
  border: 0.1rem solid red !important;
}

.btn-remove:hover {
  background: white !important;
  color: red !important;
}

.cart-icon {
  height: 35px;
  width: 35px;
  margin-right: 3px;
}

.cart-link {
  color: black;
  font-size: 12px;
}

.cart-link:hover {
  color: black;
  text-decoration: none;
}

.cart-img {
  width: 15rem;
  height: 12rem;
}

@media (min-width: 992px) {
  .cart-img {
    width: 8rem;
    height: 6rem;
  }
}

.cart-row {
  border: 1px solid black;
  background: #fafafa;
}

#footer {
  position: static;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: transparent;
  text-align: center;
}

.ccc-logo {
  width: 15 0px;
  height: 70px;
}

.carousel {
  z-index: 1;
}

.social-media-icons {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.product-filter {
  width: 300px;
}

.page-title {
  font-family: "optima";
  font-size: 40px;
  font-weight: bold;
}
.quantity-dropdown {
  width: 180px;
}

